body {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    font-style: normal !important; 
    background-color: #ffffff !important;
    margin: 0;
    padding: 0;
   
}


/*Nav*/
nav{
    color: #ffffff;
    height: 80px !important;
    
}

.brand-logo { 
    color: black;
    display: flex;
   
}

nav .brand-logo {
    color:black;
}


/* FORMULARIO UPLOAD */

.formulario_upload {


display:flex;
justify-content:center;
margin-top:50vh;


}


form {
    
padding:10px;
border-radius: 10px;

}


.formulario_upload input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.formulario_upload input[type="file"]:hover {
    background-color: yellow;
    color: black;
}

.formulario_upload input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    cursor: pointer;
    float:right;
}

.formulario_upload input[type="submit"]:hover {
    background-color: green;
    color: white;
}


/* FORMULARIO LOGIN E REGISTRO */

.overlay,
.form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 1.2);
    width: 100%;
    height: 100%;
}

.formulario {
    z-index: -1;
    background: #FFFFFF;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 120px;
    overflow: hidden;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700 !important;
    line-height: inherit;
    transition: 0.3s ease;
}

.form-group input:focus {
    color: rgba(0, 0, 0, 1.2);
}

.two .form-group input {
    color: #FFFFFF;
}

.two .form-group input:focus {
    color: #FFFFFF;
}

.form-group button {
    outline: none;
    background: #d1f600;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;

    
}

.form-group button:hover {

    background: #00ff1a;
    

    
}

#erroLogin {

 display: none;

font-size: small;


}



@media (max-width: 850px) {

 
.form-panel.one {
    position: absolute;
    top: 30;
    left: 20;
    display: flex;
    width: 100%;
    height: 100%;
}

.form-header h1 {
    z-index: +20;
    position: absolute;
    top: 0;
    font-size: 50px!important;
  
}

  
}
  
  
  


@media (max-width: 352px) {
  
    .form-group button {
      outline: none;
      background: #000000;
      width: 80%;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      color: #FFFFFF;
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
  }

  
  .overlay,
  .form-panel.one:before {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      background: rgba(0, 0, 0, 1.2);
      width: 50%;
      height: 50%;
  }
  
  .formulario {
      z-index: -15;
      position: relative;
      background: #FFFFFF;
      width: 30vh;
      border-radius: 4px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      margin: 100px auto 10px;
      overflow: hidden;
  }
  
  .form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 20px;
  }
  
  .form-group:last-child {
      margin: 0;
  }
  
  .form-group label {
      display: block;
      margin: 0 0 10px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
  }
  
  .two .form-group label {
      color: #FFFFFF;
  }
  
  .form-group input {
      outline: none;
      display: block;
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: rgba(0, 0, 0, 0.6);
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      transition: 0.3s ease;
  }
  
  .form-group input:focus {
      color: rgba(0, 0, 0, 1.2);
  }
  
  .two .form-group input {
      color: #FFFFFF;
  }
  
  .two .form-group input:focus {
      color: #FFFFFF;
  }
    
    
    
    }
    @media (max-width: 264px) {
  
        .form-group button {
          outline: none;
          background: #000000;
          width: 250%;
          border: 0;
          border-radius: 4px;
          padding: 12px 20px;
          color: #FFFFFF;
          font-family: inherit;
          font-size: inherit;
          font-weight: 500;
          line-height: inherit;
          text-transform: uppercase;
          cursor: pointer;
      }
   
      
      .overlay,
      .form-panel.one:before {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          background: rgba(0, 0, 0, 1.2);
          width: 50%;
          height: 50%;
      }
      
      .formulario {
          z-index: -15;
          position: relative;
          background: #FFFFFF;
          width: 20vh;
          border-radius: 4px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          margin: 100px auto 10px;
          overflow: hidden;
      }
      
      .form-group {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0 0 20px;
      }
      
      .form-group:last-child {
          margin: 0;
      }
      
      .form-group label {
          display: block;
          margin: 0 0 10px;
          color: rgba(0, 0, 0, 0.6);
          font-size: 12px;
          font-weight: 500;
          line-height: 1;
          text-transform: uppercase;
          letter-spacing: 0.2em;
      }
    
      .two .form-group label {
          color: #FFFFFF;
      }
      
      .form-group input {
          outline: none;
          display: block;
          background: rgba(0, 0, 0, 0.1);
          width: 100%;
          border: 0;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 12px 20px;
          color: rgba(0, 0, 0, 0.6);
          font-family: inherit;
          font-size: inherit;
          font-weight: 500;
          line-height: inherit;
          transition: 0.3s ease;
      }
      
      .form-group input:focus {
          color: rgba(0, 0, 0, 1.2);
      }
      
      .two .form-group input {
          color: #FFFFFF;
      }
      
      .two .form-group input:focus {
          color: #FFFFFF;
      }
        
        
        
        }

button:focus{
    background-color: transparent;
}

.two .form-group button {
    background: #FFFFFF;
    color: #4285F4;
 
}

.form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
}

.form-group .form-recovery {
    color: #4285F4;
    font-size: 12px;
    text-decoration: none;
}

.form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
}




/* BOTOES RADIO */
[type="radio"]:checked+span:after,[type="radio"].with-gap:checked+span:after {
    background-color: yellow;
}
[type="radio"]:checked+span:after,[type="radio"].with-gap:checked+span:before,[type="radio"].with-gap:checked+span:after {
    border: 2px solid #ffffff
}

/* side bar */



#brand-logo{
 
    margin-left: 50px;
    margin-bottom: 3vh;
}




#nav li:hover {
    background-color: #ababab;
    opacity: 0.7;
}


.main-content {
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-top: 10px;
    background-color: #ffffff !important;

}

.dashboard-square {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.dashboard-square:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li a{
    text-decoration: none;
    color: inherit !important;
}
.brand-logo {
    display: flex;
    justify-content: flex-star;
}

table{
    background-color: #fff;
    width: 100%;
}

/*tabela dos usuarios*/

.funcionarios {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 7px;
    -webkit-box-shadow: 11px 8px 69px -29px rgba(0,0,0,0.61);
    -moz-box-shadow: 11px 8px 69px -29px rgba(0,0,0,0.61);
    box-shadow: 11px 8px 69px -29px rgba(0,0,0,0.61);
}
  
.funcionarios th {
    background-color: rgb(237, 237, 237);
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    font-size: 15px;
}

.funcionarios tr {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 13px;
}

.funcionarios tbody tr:hover {
    background-color: rgb(237, 237, 237);

}
.card-body{
    padding: 1px 1px;
    margin: 0;
}

  /* conciliacao */


  #resultado_pesquisa_produtos p:hover {
    color: #5A57FF;
  }

  .btn {
    text-align: center;
    line-height: 15px; /* Adicione esta linha */
    background-color: #dedede;
    height: 100%;
    font-size: 9px;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
}

   
   .btn:hover {
    transition: .4s;
    border: 1px solid #0f66ad;
    background-color: #fff;
    color: #0f66ad;
   }
   

   .row .col.s1 {
    width: auto;
}
   

.containerMarcas{

    background-color: #d1f600;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}